# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [3]:
pip install --upgrade pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.2 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [4]:
import pymongo
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mandadiva:bigdatamanda@bigdata.wjfmn.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = [
    {'name': 'Aisyah','department': 'HR','age': 24,'salary': 5500},
    {'name': 'Dinda','department': 'CEO','age': 28,'salary': 6500},
    {'name': 'Aiba','department': 'HR','age': 25,'salary': 3500},
    {'name': 'Manda','department': 'IT','age': 26,'salary': 8500},
    {'name': 'Bob','department': 'IT','age': 27,'salary': 5200},
    {'name': 'Fendy', 'departemen': 'CEO', 'age': 23,'salary':3000}
]
collection.insert_many(employee_data)
print('Data Ditambahkan')
for employee in collection.find():
    print(employee)
print('\n')

Data Ditambahkan
{'_id': ObjectId('6724c2a8a522d23f06ca6c68'), 'name': 'Aisyah', 'department': 'HR', 'age': 24, 'salary': 5500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c69'), 'name': 'Dinda', 'department': 'CEO', 'age': 28, 'salary': 6500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6a'), 'name': 'Aiba', 'department': 'HR', 'age': 25, 'salary': 3500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6b'), 'name': 'Manda', 'department': 'IT', 'age': 26, 'salary': 8500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6c'), 'name': 'Bob', 'department': 'IT', 'age': 27, 'salary': 5200}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6d'), 'name': 'Fendy', 'departemen': 'CEO', 'age': 23, 'salary': 3000}

In [ ]:
collection.delete_many({})
print('Semua data karyawan telah dihapus')

Semua data karyawan telah dihapus

In [ ]:
# Update Data
filter = {'name': 'Dinda'}
update = {'$set': {'salary': 9500}}
collection.update_one(filter, update)
print('Data Diperbarui')
for employees in collection.find():
    print(employees)
print('\n')

Data Diperbarui
{'_id': ObjectId('6724c2a8a522d23f06ca6c68'), 'name': 'Aisyah', 'department': 'HR', 'age': 24, 'salary': 5500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c69'), 'name': 'Dinda', 'department': 'CEO', 'age': 28, 'salary': 9500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6a'), 'name': 'Aiba', 'department': 'HR', 'age': 25, 'salary': 3500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6b'), 'name': 'Manda', 'department': 'IT', 'age': 26, 'salary': 8500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6c'), 'name': 'Bob', 'department': 'IT', 'age': 27, 'salary': 5200}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6d'), 'name': 'Fendy', 'departemen': 'CEO', 'age': 23, 'salary': 3000}

In [ ]:
# Delete Data
filter = {'age': 23}
collection.delete_one(filter)
print('Data Fendy Dihapus')
for employees in collection.find():
  print(employees)
print('\n')

Data Fendy Dihapus
{'_id': ObjectId('6724c2a8a522d23f06ca6c68'), 'name': 'Aisyah', 'department': 'HR', 'age': 24, 'salary': 5500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c69'), 'name': 'Dinda', 'department': 'CEO', 'age': 28, 'salary': 9500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6a'), 'name': 'Aiba', 'department': 'HR', 'age': 25, 'salary': 3500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6b'), 'name': 'Manda', 'department': 'IT', 'age': 26, 'salary': 8500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6c'), 'name': 'Bob', 'department': 'IT', 'age': 27, 'salary': 5200}

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6724c2a8a522d23f06ca6c68'), 'name': 'Aisyah', 'department': 'HR', 'age': 24, 'salary': 5500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c69'), 'name': 'Dinda', 'department': 'CEO', 'age': 28, 'salary': 9500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6a'), 'name': 'Aiba', 'department': 'HR', 'age': 25, 'salary': 3500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6b'), 'name': 'Manda', 'department': 'IT', 'age': 26, 'salary': 8500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6c'), 'name': 'Bob', 'department': 'IT', 'age': 27, 'salary': 5200}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'average_salary': 3500.0}
{'_id': 'IT', 'average_salary': 6850.0}
{'_id': 'CEO', 'average_salary': 9500.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [5]:
# Latihan 4.1 Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk)
from pymongo import MongoClient

client = MongoClient('mongodb+srv://mandadiva:bigdatamanda@bigdata.wjfmn.mongodb.net/')
db = client['company_db']
dataproduk = db['products']

print('Connected to MongoDB')
product = [
    {'nama': 'papan tulis', 'kategori': 'barang', 'harga': 15000},
    {'nama': 'penghapus', 'kategori': 'barang', 'harga': 1000},
    {'nama': 'handphone', 'kategori': 'furniture', 'harga': 5000000},
    {'nama': 'kursi', 'kategori': 'furniture', 'harga': 10000},
    {'nama': 'meja', 'kategori': 'furniture', 'harga': 20000},
    {'nama': 'aquarium', 'kategori': 'barang', 'harga':90000},
    {'nama': 'energen', 'kategori': 'makanan', 'harga': 2000},
    {'nama': 'kaos', 'kategori': 'pakaian', 'harga': 20000},
    {'nama': 'celana', 'kategori': 'pakaian', 'harga': 30000},
    {'nama': 'topi', 'kategori': 'pakaian', 'harga': 10000}
]

dataproduk.insert_many(product)
print('Data Ditambahkan')

Connected to MongoDB
Data Ditambahkan

In [ ]:
# Latihan 4.1 Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk)
from pymongo import MongoClient

client = MongoClient('mongodb+srv://mandadiva:bigdatamanda@bigdata.wjfmn.mongodb.net/')
db = client['company_db']
dataproduk = db['products']

print('Connected to MongoDB')
product = [
    {'nama': 'papan tulis', 'kategori': 'barang', 'harga': 15000},
    {'nama': 'penghapus', 'kategori': 'barang', 'harga': 1000},
    {'nama': 'handphone', 'kategori': 'furniture', 'harga': 5000000},
    {'nama': 'kursi', 'kategori': 'furniture', 'harga': 10000},
    {'nama': 'meja', 'kategori': 'furniture', 'harga': 20000},
    {'nama': 'aquarium', 'kategori': 'barang', 'harga':90000},
    {'nama': 'energen', 'kategori': 'makanan', 'harga': 2000},
    {'nama': 'kaos', 'kategori': 'pakaian', 'harga': 20000},
    {'nama': 'celana', 'kategori': 'pakaian', 'harga': 30000},
    {'nama': 'topi', 'kategori': 'pakaian', 'harga': 10000}
]

dataproduk.insert_many(product)
print('Data Ditambahkan')
for product in dataproduk.find():
    print(product)

Connected to MongoDB
Data Ditambahkan
{'_id': ObjectId('6724b6afa522d23f06ca6c56'), 'nama': 'papan tulis', 'kategori': 'barang', 'harga': 15000}
{'_id': ObjectId('6724b6afa522d23f06ca6c57'), 'nama': 'penghapus', 'kategori': 'barang', 'harga': 1000}
{'_id': ObjectId('6724b6afa522d23f06ca6c58'), 'nama': 'handphone', 'kategori': 'furniture', 'harga': 5000000}
{'_id': ObjectId('6724b6afa522d23f06ca6c59'), 'nama': 'kursi', 'kategori': 'furniture', 'harga': 10000}
{'_id': ObjectId('6724b6afa522d23f06ca6c5a'), 'nama': 'meja', 'kategori': 'furniture', 'harga': 20000}
{'_id': ObjectId('6724b6afa522d23f06ca6c5b'), 'nama': 'aquarium', 'kategori': 'barang', 'harga': 90000}
{'_id': ObjectId('6724b6afa522d23f06ca6c5c'), 'nama': 'energen', 'kategori': 'makanan', 'harga': 2000}
{'_id': ObjectId('6724b6afa522d23f06ca6c5d'), 'nama': 'kaos', 'kategori': 'pakaian', 'harga': 20000}
{'_id': ObjectId('6724b6afa522d23f06ca6c5e'), 'nama': 'celana', 'kategori': 'pakaian', 'harga': 30000}
{'_id': ObjectId('6724b6afa522d23f06ca6c5f'), 'nama': 'topi', 'kategori': 'pakaian', 'harga': 10000}

In [ ]:
# Menghapus semua data dalam koleksi 'products'
dataproduk.delete_many({})
print("Semua produk telah dihapus dari koleksi 'products'")

Semua produk telah dihapus dari koleksi 'products'

In [ ]:
# Latihan 4.2 Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
pipeline = [
    {'$group': {'_id': None, 'average_harga': {'$avg': '$harga'}}}
]
result = list(collection.aggregate(pipeline))[0]
average_harga = result['average_harga']
print(f'Rata-rata harga produk: {average_harga}')

for product in dataproduk.find({'harga': {'$gt': average_harga}}):
    print(product)

Rata-rata harga produk: 519800.0
{'_id': ObjectId('6724b6afa522d23f06ca6c58'), 'nama': 'handphone', 'kategori': 'furniture', 'harga': 5000000}

In [ ]:
# Latihan 4.3 Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
pipeline = [
    {'$group': {'_id': '$kategori', 'total_produk': {'$sum': 1}}}
]
for product in dataproduk.aggregate(pipeline):
    print(product)

{'_id': 'furniture', 'total_produk': 3}
{'_id': 'pakaian', 'total_produk': 3}
{'_id': 'barang', 'total_produk': 3}
{'_id': 'makanan', 'total_produk': 1}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
pipeline = [
    {'$sort' : {'department' : 1, 'salary': -1}},
    {'$group': {'_id': '$department', 'top_karyawan': {'$push': '$$ROOT'}}},
    {'$project': {'top_employees': {'$slice': ['$top_karyawan', 5]}}}
]

result = collection.aggregate(pipeline)
for departement in result:
  print(f"Departement: {departement['_id']}S")
  for employee in departement['top_employees']:
    print(employee)
  print('\n')

Departement: CEO
{'_id': ObjectId('6724c2a8a522d23f06ca6c69'), 'name': 'Dinda', 'department': 'CEO', 'age': 28, 'salary': 9500}


Departement: HR
{'_id': ObjectId('6724c2a8a522d23f06ca6c68'), 'name': 'Aisyah', 'department': 'HR', 'age': 24, 'salary': 5500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6a'), 'name': 'Aiba', 'department': 'HR', 'age': 25, 'salary': 3500}


Departement: IT
{'_id': ObjectId('6724c2a8a522d23f06ca6c6b'), 'name': 'Manda', 'department': 'IT', 'age': 26, 'salary': 8500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6c'), 'name': 'Bob', 'department': 'IT', 'age': 27, 'salary': 5200}

In [ ]:
# Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
filter = {'age': {'$lt': 25}}
collection.delete_many(filter)
print('Data Karyawan Usia dibawah 25 tahun dihapus')
for employees in collection.find():
    print(employees)
print('\n')

Data Karyawan Usia dibawah 25 tahun dihapus
{'_id': ObjectId('6724c2a8a522d23f06ca6c69'), 'name': 'Dinda', 'department': 'CEO', 'age': 28, 'salary': 9500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6a'), 'name': 'Aiba', 'department': 'HR', 'age': 25, 'salary': 3500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6b'), 'name': 'Manda', 'department': 'IT', 'age': 26, 'salary': 8500}
{'_id': ObjectId('6724c2a8a522d23f06ca6c6c'), 'name': 'Bob', 'department': 'IT', 'age': 27, 'salary': 5200}

In [ ]:
# Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.
pipeline = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}, 'average_age': {'$avg': '$age'}}}
]

result = collection.aggregate(pipeline)
for departement in result:
    print(f"Departement: {departement['_id']}")
    print(f"Total Salary: {departement['total_salary']}")
    print(f"Average Age: {departement['average_age']}")
    print('\n')

Departement: HR
Total Salary: 3500
Average Age: 25.0


Departement: IT
Total Salary: 13700
Average Age: 26.5


Departement: CEO
Total Salary: 9500
Average Age: 28.0